<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>パラメータは答えを返信するんです</title>
</head>
<body>
<h1 >パラメータは答えを返信するんです</h1>
<ul>
    <li>
        <a th:href="@{/api/v1/param/string(text='Hola janicot')}">/api/v1/param/string?text=Hola janicot</a>
    </li>
    <li>
        <a th:href="@{/api/v1/param/string(text='Que tal Naz')}">/api/v1/param/string?text=Que tal Naz</a>
    </li>
    <li>
        <a th:href="@{/api/v1/param/mix-params(greeting='Hola',number='5')}">/api/v1/param/mix-params?text=Hola&number=5</a>
    </li>
    <li>
        <a th:href="@{/api/v1/param/mix-params-request(greeting='Hola',number='5')}">/api/v1/param/mix-params-request?text=Hola&number=5</a>
    </li>
</ul>
</body>
</html>